/*
	main_style.css
*/

/*
Google Fonts
	Super Legend Boy

	Press Start 2P
	https://fonts.googleapis.com/css?family=Press Start 2P
*/

:root {
	--gameboy-dark: #01201b;
	--gameboy-light: #4d892e;
	--gameboy-neutral: #267c24;
	--gameboy-font: "Super-Legend-Boy", "Press Start 2P", "Courier New";
}

body {
	color: var(--gameboy-neutral);
	background-color: var(--gameboy-dark);
	font-family: "Courier New", monospace;
	margin: 0px;
}

h1, h2, h3, h4 {
	text-align: center;
	font-family: var(--gameboy-font);
	margin: 0px;
}

a {
	color: var(--gameboy-light);
}

iframe#page-source,
div#page-content {
	border: none;
	margin-left: 15%;
	width: 85%;
	min-height: 480px;
}

iframe#site-header {
	position: relative;
	top: 0px;
	left: 15%;
	width: 85%;
	border: none;
}

iframe#side-navigator {
	position: fixed;
	left: 0px;
	border: none;
	height: 100%;
	max-width: 15%;
}


/* Personal Projects */
.project-description {
	display: inline-block;
}

img.logo {
	max-height: 90px;
}

.easter-egg {
	color: var(--gameboy-dark);
}


/* Professoinal Work */
.work-description {
	display: inline-block;
	vertical-align: top;
	max-width: 65%;
}

summary {
	margin-bottom: 10px;
}

details>:not(summary) {
	position: relative;
	margin-left: 5%;
}

td {
	vertical-align: top;
}
