/*
	main_style.css
*/

/*
Google Fonts
	Super Legend Boy

	Press Start 2P
	https://fonts.googleapis.com/css?family=Press Start 2P
*/

:root {
	--gameboy-dark: #01201b;
	--gameboy-light: #4d892e;
	--gameboy-neutral: #267c24;
	--gameboy-font: "Super-Legend-Boy", "Press Start 2P", "Courier New";
}

body {
	color: var(--gameboy-neutral);
	background-color: var(--gameboy-dark);
	font-family: "Courier New", monospace;
	margin: 0px;
}

a {
	color: var(--gameboy-light);
}

iframe#page-source,
div#page-content {
	position:relative;
	border: none;
}

div#page-content h1,
div#page-content h2,
div#page-content h3,
div#page-content h4 {
	text-align: center;
	font-family: var(--gameboy-font);
	margin: auto;
	margin-top: 16px;
	margin-bottom: 16px;
}

div#page-content div:not(form *, td *) {
	margin: auto;
	text-align: center;
}

div#page-content p {
	margin-top: 8px;
	margin-bottom: 8px;
}

div#page-content hr {
	color: var(--gameboy-light);
}

div#page-content fieldset {
	border-color: var(--gameboy-light);
}

iframe#site-header {
	position: relative;
	border: none;
}

iframe#side-navigator {
	left: 0px;
	border: none;
}

@media only screen and (orientation: landscape) {
	iframe#site-header {
		left: 15%;
		width: 85%;
	}

	iframe#side-navigator {
		position: fixed;
		height: 100%;
		max-width: 15%;
	}

	iframe#page-source,
	div#page-content {
		left: 15%;
		width: 85%;
		min-height: 480px;
	}
}

@media only screen and (orientation: portrait) {
	iframe#site-header {
		width: 100%;
	}

	iframe#side-navigator {
		position: sticky;
		top: 0px;
		width: 100%;
		z-index: 1;
		height: 71px;
	}

	iframe#page-source,
	div#page-content {
		width: 96%;
		margin: auto;
	}
}

/* Personal Projects */
.extra-bottom-space{
	margin-bottom: 10px;
}

.project-description {
	display: inline-block;
}

img.logo {
	max-height: 90px;
}

.easter-egg {
	color: var(--gameboy-dark);
}


/* Professoinal Work */
.work-description {
	display: inline-block;
	vertical-align: top;
	max-width: 65%;
}

summary {
	margin-bottom: 10px;
}

details>:not(summary) {
	position: relative;
	margin-left: 5%;
}

div#page-content table {
	border-spacing: 0px;
}

td {
	vertical-align: top;
}
