/*
	side_navigator.css
*/

body {
	background-color: #1e1f21;
	background-image: linear-gradient(to right,#1e1f21, #000000);
}

div#side-navigator {
	//
}

nav#side-navigator-links {
	cursor: pointer;
	color: #00C0C0;
}

nav#side-navigator-links>div {
	background-color: #000000;
	border-color: #1e1f21;
	border-style: solid;
	border-width: 1px;
}
