/*
	site_header.css
*/

:root {
	--gameboy-dark: #01201b;
	--gameboy-light: #4d892e;
	--gameboy-neutral: #267c24;
	--gameboy-font: "Super-Legend-Boy", "Press Start 2P", "Courier New";
}

body {
	color: var(--gameboy-neutral);
	font-family: var(--gameboy-font);
	margin: 0px;
}

div#site-header {
	text-align: center;
}

div#site-label>h1 {
	margin: 0px;
}

div#top-navigation-bar {
	text-align: center;
	color: var(--gameboy-light);
}
